html,
body {
    height: 100%;
    margin: 0;
}

.notes {
    display: flex;
    height: 100%;
}

.notes * {
    font-family: sans-serif;
}

.notes__sidebar {
    background-color: #F5ECD8;
    border-right: 0.2rem solid #5B4636;
    flex-shrink: 0;
    overflow-y: auto;
    padding: 1em;
    width: 250px;
}

.notes__add {
    background: #5B4636;
    border: none;
    border-radius: 7px;
    color: #F5ECD8;
    cursor: pointer;
    font-size: 1.25em;
    font-weight: bold;
    margin-bottom: 1em;
    padding: 0.75em 0;
    width: 100%;
}

.notes__add:hover {
    background: #8B7355;
}

.notes__list-item {
    cursor: pointer;
}

.notes__list-item--selected {
    background: #D4C4A8;
    border-radius: 7px;
    font-weight: bold;
}

.notes__small-title,
.notes__small-updated {
    color: #5B4636;
    padding: 10px;
}

.notes__small-title {
    color: #5B4636;
    font-size: 1.2em;
}

.notes__small-body {
    color: #5B4636;
    padding: 0 10px;
}

.notes__small-updated {
    color: #5B4636;
    font-style: italic;
    text-align: right;
}

.notes__preview {
    display: flex;
    flex-direction: column;
    padding: 2em 3em;
    flex-grow: 1;
    background-color: #F5ECD8;
}

.notes__title,
.notes__body {
    border: none;
    outline: none;
    width: 100%;
}

.notes__title {
    background-color: #F5ECD8;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
    font-size: 2.5em;
    font-weight: bold;
    color: #5B4636;
}

.notes__body {
    font-family: serif;
    background-color: #F5ECD8;
    flex-grow: 1;
    font-size: 1.2em;
    line-height: 1.5;
    margin-top: 2em;
    resize: none;
    color: #5B4636;
    border-radius: 12.5px;
    padding:12.5px;
}

.sort-bar{
    display: flex;
    height: 100%;
    width: 5rem;
    background-color: #F5ECD8;
    color: #5B4636;
    border-right: 0.2rem #5B4636 solid;
}

.sort-bar ul{
    justify-content: space-around;
    list-style: none;
}